*
{margin: 0px;
padding: 0px;
box-sizing: border-box;
text-transform: capitalize;
 }
 body{
font-family: 'Balsamiq Sans', cursive;
font-family: 'M PLUS 2', sans-serif;
font-family: 'Nunito', sans-serif;
 }
 .fas{
    color: brown;
 }
    .navbar-light .navbar-brand {
       color: rgb(196, 73, 73);
    }
    .navbar{
       background-color: rgba(7,7,7,0.5);
    }
    nav li a:hover
{
background:rgba(86, 107, 93, 0.867);
}

    .navbar-light .navbar-nav .nav-link.active{
       padding: 15px 20px;
       font-size: 20px;
       color: #fff;
    }
    .child
    {
       padding-top: 10.5rem;
       padding-bottom: 6rem;
       text-align: center;
       background-image:url(../img/1.jpg) ;
       background-position:center;
       background-repeat: no-repeat;
       background-position:center;
       background-size:cover;
    }
   .child-heading{
      color: beige;
   }
    .page-section h2.section-heading{
       font-size: 2.5rem;
       margin-top: 0;
       margin-bottom: 1rem;
    }
  .page-section h3.section-subheading{
font-size:1rem;
font-weight: light;
font-style: italic;
margin-bottom: 4rem;  
}
.img-fluid{
   padding: 1rem;
}
.carousel-inner{
   text-align: center;
}
.carousel-inner h1{
   color: seagreen;
}
.subscribe{
   width: 100%;
   height: 70vh;
   margin-top: 20px;
   background-image:url(../img/10.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
}
.subscribe-container{
max-width: 50%;
color: whitesmoke;
text-align: center;
margin: auto;
padding-top: 140px;
}
.subscribe-container h1{
font-size: 7vmin;
color: #fff;
align-items: center;
}
.btn-outline-success{
   margin-top: 20px;
   background-color:#fff
}
.input-group-btn .form-control:focus{
box-shadow: none;
border: 2px solid #243c4f;
text-transform: none;
}
.page-footer{
   background:lightslategray;
}
.page-footer p a{
   color:black;
}
.footer-copyright a{
   color: black;
}